Lost-Tools/[Ll]ibrary
Lost-Tools/[Ll]ogs
Lost-Tools/[Oo]bj
Lost-Tools/[Bb]ee/
Lost-Tools/[Vv]isualScripting/
Lost-Tools/[Temp]/
Lost-Tools/[Build]/
Lost-Tools/[Builds]/
Lost-Tools/.DS_Store
Lost-Tools/Thumbs.db
Lost-Tools/*.swp
Lost-Tools/*.user
Lost-Tools/*.userprefs
Lost-Tools/*.pidb
Lost-Tools/*.suo
Lost-Tools/*.sln
Lost-Tools/*.csproj
Lost-Tools/*.unityproj
Lost-Tools/.vs/
Lost-Tools/.idea/
Lost-Tools/.vscode/